
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index Page</h2>

<h3>Varsity</h3>
<a href="~/AdminInstitution/InstitutionList" class="btn btn-primary">Varsity List</a>
<a href="~/AdminInstitution/InstitutionAdd" class="btn btn-primary">Add Varsity</a>

<h3>Mentor</h3>
<a href="~/AdminMentor/MentorList" class="btn btn-primary">Mentor List</a>
<a href="~/AdminMentor/MentorAdd" class="btn btn-primary">Add Mentor</a>

<h3>Student</h3>
<a href="~/AdminStudent/StudentList" class="btn btn-primary">Student List</a>
<a href="~/AdminStudent/StudentAdd" class="btn btn-primary">Add Student</a>